1.Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system.'
with open('test.txt', 'w') as file:
    file.write(test1)

2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()
print(test1 == test2)

True

3.Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

# Connect to the database (creates the file if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
c = conn.cursor()

# Create the books table with the title, author, and year fields
c.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Save the changes and close the connection
conn.commit()
conn.close()

5.Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3

# Open the CSV file
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    # Skip the header row
    next(reader)
    # Connect to the database
    conn = sqlite3.connect('books.db')
    c = conn.cursor()
    # Insert each row into the books table
    for row in reader:
        c.execute('INSERT INTO books VALUES (?, ?, ?)', row)
    # Save the changes and close the connection
    conn.commit()
    conn.close()

6.Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select the title column from the books table and order it alphabetically
c.execute('SELECT title FROM books ORDER BY title ASC')

# Fetch all the rows returned by the query
rows = c.fetchall()

# Print the title column for each row
for row in rows:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7.From the book table, select and print all columns in the order of publication.

In [7]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select all columns from the books table and order by year
c.execute('SELECT * FROM books ORDER BY year ASC')

# Fetch all the rows returned by the query
rows = c.fetchall()

# Print the results for each row
for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [8]:
from sqlalchemy import create_engine

# Connect to the database
engine = create_engine('sqlite:///books.db')

# Test the connection by executing a query
result = engine.execute('SELECT * FROM books')

# Print the results
for row in result:
    print(row)

# Close the connection
engine.dispose()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester')
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all the fields for test
result = r.hgetall('test')
print(result)

10.Increment the count field of test and print it.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Increment the count field of test and print it
count = r.hincrby('test', 'count', 1)
print(count)